@import url(./reset.css);
@import url(./header.css);
@import url(./footer.css);


.main {
  width: 100%;
  height: calc(100vh - 80px - 80px);

  display: flex;
  justify-content: center;
  align-items: center;
}

.main .main-con {
  
}

