@import url(../basic/reset.css);
@import url(../basic/header.css);
@import url(../basic/footer.css);

.join {
  width: 100%;
  height: calc(100vh - 80px - 80px);

  display: flex;
  justify-content: center;
  align-items: center;
}

.join .join-con {
  flex: 0 1 600px;
}

.join .join-con > form {
  

  border: 2px solid hsl(0, 0%, 45%);
  border-radius: 10px;

  padding: 20px;
  box-sizing: border-box;

  display: flex;
  flex-direction: column;
  gap: 30px;

}

.join .join-con > form > h1 {
  font-weight: 200;
  text-align: center;
}

.join .join-con > form > ul {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.join .join-con > form > ul > li:not(:last-child) {
  border: 1px solid hsl(0, 0%, 45%);
  border-radius: 5px;
  box-sizing: border-box;

  display: flex;
  justify-content: space-between;

  padding: 10px;
  box-sizing: border-box;
}

.join .join-con > form > ul > li:not(:last-child) > label {
  flex: 1;
  text-align: center;
}

.join .join-con > form > ul > li:not(:last-child) > input {

  flex: 3;
  border: 0;
  
  font-size: x-large;
}

.join .join-con > form > ul > li:not(:last-child) > input:focus {
  outline: none;
}





.join .join-con > form > ul > li:last-child {
  display: flex;
  justify-content: space-between;
}

.join .join-con > form > ul > li:last-child input,
.join .join-con > form > ul > li:last-child span {
  flex: 1;
  border: 0;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: #7bd8bc;
  color: #fff;

  border-radius: 5px;

  padding: 10px 20px;
  box-sizing: border-box;


}